TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_BOT_USERNAME=your_bot_username
EDAMAM_APP_ID=your_edamam_app_id
EDAMAM_APP_KEY=your_edamam_app_key
EDAMAM_FOOD_DB_BASE_URL=https://api.edamam.com
EDAMAM_VISION_BASE_URL=https://api.edamam.com
CLICK_PROVIDER_TOKEN=your_click_provider_token
DB_URL=jdbc:postgresql://localhost:5432/mfood
DB_USER=mfood
DB_PASS=mfood
REDIS_URL=redis://localhost:6379
